astroid==1.6.1
coverage==4.5
Django==2.0.1
django-cacheops==4.0.5
django-cors-headers==2.1.0
django-debug-toolbar==1.9.1
django-jenkins==0.110.0
django-redis==4.8.0
django-rest-framework==0.1.0
djangorestframework==3.7.7
funcy==1.10
gunicorn==19.7.1
isort==4.3.2
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==2.0.0
pbr==3.1.1
pep8==1.7.1
Pillow==5.0.0
psycopg2==2.7.3.2
pyflakes==1.6.0
pylint==1.8.2
pytz==2017.3
redis==2.10.6
six==1.11.0
sqlparse==0.2.4
wrapt==1.10.11
